footer{
    background-color: #242582;
}
main{
    background-color: #825224;
}

.heightBox{
    height: 100px;
    width: 45%;
    bottom: -10px;
    left: 55%;
}



#firstSec{
    height: 500px;
    background-color: #2F2FA2;
}