body{
    font-family: 'Montserrat', sans-serif;
}
h1, h2, h3, h4, h5, h6{
    font-family: 'Merriweather', serif;
}

footer{
    background-color: #242582;
}
main{
    background-color: #825224;
}

.heightBox{
    height: 100px;
    width: 40%;
    bottom: -50px;
    left: 60%;
}

@media screen and (max-width: 993px) {
    .heightBox{
        display: none;
    }
}


#firstSec{
    background-color: #2F2FA2;
}